<!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>UVSA GROUP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon"
      type="image/png"
      href="../static/favicon.png">
<link rel="stylesheet" type="text/css" href="../static/uvsa_style.css">
</head>


<body>
    <script src="/static/socket.io.js"></script>
    <script src="/static/acerca_websocket.js"></script>
    <script src="/static/a076d05399.js"></script>

<div class="header">
<div class="column image">
  <img class="logo" src="../static/UVSA_400.png" align="center" />
  </div>
  <div class="topnav">
   <!-- <h2>HOME</h2>-->
      <a href="/" title="Home"><i class='fas fa-home' style='font-size:160%'></i></a>
      <a href="{{ url_for('diagnostico')}}" title="Diagnostico"><i class='fas fa-heartbeat' style='font-size:160%'></i></a>
      <a href="{{ url_for('logs')}}" title="Logs"><i class='fas fa-database' style='font-size:160%'></i></a>
      <a href="{{ url_for('ajustes')}}" title="Ajustes"><i class='fas fa-cogs' style='font-size:160%'></i></a>
      <a href="{{ url_for('ayuda')}}" title="Ayuda"><i class='fas fa-question' style='font-size:160%'></i></a>
      <a href="{{ url_for('acerca')}}" title="Acerca UVSA-Group"><i class='fas fa-info-circle' style='font-size:160%'></i></a>
  </div>
  </div>
   <h2 style="color:#100935;  margin-bottom: 0px;" align="center" id="modelo">MODELO</h2>
   <p class="center">
       <table id="fancy_table" style=" font-size:90%;">
          <tr>
            <th colspan="4" style="text-align:center">Acerca de</th>
          </tr>
        <tr>
            <td colspan="1" style="text-align:center" ><span><i class='fas fa-user-clock' style='font-size:160%'></span></td>
            <td colspan="3" style="text-align:center"><b><span id="horometro">------</span></b></td>
        </tr>
          <tr>
            <td colspan="1" style="text-align:center" ><span><i class='fas fa-magic' style='font-size:160%'></span></td>
            <td colspan="3" style="text-align:center" ><b><span id="version">------</span></b></td>
        </tr>
        <tr>
            <td style="text-align:center" ><span><i class='fas fa-robot' style='font-size:160%'></span></td>
            <td colspan="3" style="text-align:center"><b><span id="card">------</span></b></td>
        </tr>
        <tr>
            <td style="text-align:center; font-size:160%" ><span><b>SN</b></span></td>
            <td colspan="3" style="text-align:center"><b><span id="serialNumber">------</span></b></td>
        </tr>
        <tr>
            <td style="text-align:center" ><span><i class='fas fa-mail-bulk' style='font-size:160%'></span></td>
            <td colspan="3" style="text-align:center"><b><a href="mailto:name@email.com">ventas@uvsafe.com.mx</a></b></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center"><img src="/static/uvsafe_qrcode.png"  alt="UVSA Group QR Code" style="width:40%"></td>
        </tr>
    </table>
</p>
</body>
</html>
