<!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>UVSA GROUP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon"
      type="image/png"
      href="../static/favicon.png">
<link rel="stylesheet" type="text/css" href="../static/uvsa_style.css">
</head>


<body>
    <script src="/static/socket.io.js"></script>
   <script src="/static/ajustes_websocket.js"></script>
    <script src="/static/a076d05399.js"></script>

<div class="header">
<div class="column image">
  <img class="logo" src="../static/UVSA_400.png" align="center" />
  </div>
  <div class="topnav">
   <!-- <h2>HOME</h2>-->
      <a href="/" title="Home"><i class='fas fa-home' style='font-size:160%'></i></a>
      <a href="{{ url_for('diagnostico')}}" title="Diagnostico"><i class='fas fa-heartbeat' style='font-size:160%'></i></a>
      <a href="{{ url_for('logs')}}" title="Logs"><i class='fas fa-database' style='font-size:160%'></i></a>
      <a href="{{ url_for('ajustes')}}" title="Ajustes"><i class='fas fa-cogs' style='font-size:160%'></i></a>
      <a href="{{ url_for('ayuda')}}" title="Ayuda"><i class='fas fa-question' style='font-size:160%'></i></a>
      <a href="{{ url_for('acerca')}}" title="Acerca UVSA-Group"><i class='fas fa-info-circle' style='font-size:160%'></i></a>
  </div>
  </div>
    <h2 style="color:#100935;  margin-bottom: 0px; margin-top: 0px;" align="center">PANEL DE CONTROL</h2>
  <!-- ***********   Tabla ID TIEMPO FECHA***********-->
   <p class="center">
      <!-- ***********   Tabla ID TIEMPO FECHA***********-->
   <p class="center">
       <table id="fancy_table" style=" font-size:90%;">
          <tr>
            <th colspan="3" style="text-align:center">Informacion de Sistema</th>
          </tr>
        <tr>
            <td style="text-align:center; width:25%;"><b>Msg ID</b></td>
            <td style="text-align:center; width:25%"><b>Fecha</b></td>
            <td style="text-align:center; width:25%"><b>Hora</b></td>
        </tr>
        <tr>
              <td style="text-align:center" ><span id="msg_id">------</span></td>
              <td style="text-align:center" ><span id="date">------</span></td>
              <td style="text-align:center" ><span id="time">------</span></td>
        </tr>
    </table>
</p>
    <form action="{{ url_for('ajustes') }}" method="post">
        <input type="hidden" name="name" value="FechaHora">
       <table id="fancy_table" >
          <tr>
            <th colspan="6" style="text-align:center"> Ajuste de Fecha y Hora</th>
          </tr>
        <tr>
            <td colspan="2" style="text-align:center;"><b>Hora</b></td>
            <td colspan="4" style="text-align:right;"><input type="time" id="hora" name="hora" required></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;"><b>Fecha</b></td>
            <td colspan="4" style="text-align:right;"><input type="date" id="fecha" name="fecha" required></td>
        </tr>
        <tr>
            <td colspan="6" style="text-align:center;"><input type="submit" value="Ajustar" class="myButton"></td>
        </tr>
    </table>
</form>
    </p>

   <p class="center">
    <form action="{{ url_for('ajustes') }}" method="post" name="hardware">
        <input type="hidden" name="name" value="hardware">
    <table id="fancy_table" >
        <tr>
            <th colspan="6" style="text-align:center">Control de Hardware</th>
        </tr>
        <tr>
            <td colspan="4"style="text-align:center"><b>Buzzer</b></td>
            <td colspan="2"style="text-align:center"><label class="switch">
                <input type="checkbox" id="toggle_buzzer" name="buzzer">
                <span class="slider round"></span></label>
            </td>
        </tr>

        <tr>
            <td colspan="4"style="text-align:center"><b>Lampara 1</b></td>
            <td colspan="2"style="text-align:center"><label class="switch">
                <input type="checkbox" id="toggle_lampara1" name="lamp1">
                <span class="slider round"></span></label>
            </td>
        </tr>

        <tr>
            <td colspan="4"style="text-align:center"><b>Lampara 2</b></td>
            <td colspan="2"style="text-align:center"><label class="switch"><input type="checkbox" id="toggle_lampara2" name="lamp2">
                <span class="slider round"></span></label>
            </td>
        </tr>

        <tr>
            <td colspan="4"style="text-align:center"><b>Lampara 3</b></td>
            <td colspan="2"style="text-align:center"><label class="switch"><input type="checkbox" id="toggle_lampara3" name="lamp3">
                <span class="slider round"></span></label>
            </td>
        </tr>

        <tr>
            <td colspan="4"style="text-align:center"><b>Lampara 4</b></td>
            <td colspan="2"style="text-align:center"><label class="switch"><input type="checkbox" id="toggle_lampara4" name="lamp4">
                <span class="slider round"></span></label>
            </td>
        </tr>

        <tr>
            <td colspan="4"style="text-align:center"><b>Lampara 5</b></td>
            <td colspan="2"style="text-align:center"><label class="switch"><input type="checkbox" id="toggle_lampara5" name="lamp5">
                <span class="slider round"></span></label>
            </td>
        </tr>

        <tr>
            <td colspan="4"style="text-align:center"><b>Lampara 6</b></td>
            <td colspan="2"style="text-align:center"><label class="switch"><input type="checkbox" id="toggle_lampara6" name="lamp6">
                <span class="slider round"></span></label>
            </td>
        </tr>
         <tr>
             <td colspan="6" style="text-align:center;"><input type="submit" value="Configurar" class="myButton"></td>
        </tr>
        </table>
        </form>
   </p>
      <!-- Text and send it
      <p>
          <a href="javascript:sendText()" class="myButton">Send Text</a>
         <br> Name: <input type="text" id="myText" value="Mickey">
      </p> -->

</body>
</html>
