<!--
https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid
https://fontawesome.com/v4.7.0/icons/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>UVSA GROUP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon"
      type="image/png"
      href="../static/favicon.png">
<link rel="stylesheet" type="text/css" href="../static/uvsa_style.css">
</head>


<body>
    <script src="/static/socket.io.js"></script>
    <script src="/static/diagnostic_websocket.js"></script>
    <script src="/static/a076d05399.js"></script>

<div class="header">
<div class="column image">
  <img class="logo" src="../static/UVSA_400.png" align="center" />
  </div>
  <div class="topnav">
   <!-- <h2>HOME</h2>-->
      <a href="/" title="Home"><i class='fas fa-home' style='font-size:160%'></i></a>
      <a href="{{ url_for('diagnostico')}}" title="Diagnostico"><i class='fas fa-heartbeat' style='font-size:160%'></i></a>
      <a href="{{ url_for('logs')}}" title="Logs"><i class='fas fa-database' style='font-size:160%'></i></a>
      <a href="{{ url_for('ajustes')}}" title="Ajustes"><i class='fas fa-cogs' style='font-size:160%'></i></a>
      <a href="{{ url_for('ayuda')}}" title="Ayuda"><i class='fas fa-question' style='font-size:160%'></i></a>
      <a href="{{ url_for('acerca')}}" title="Acerca UVSA-Group"><i class='fas fa-info-circle' style='font-size:160%'></i></a>
  </div>
  </div>
  <h2 style="color:#100935;  margin-bottom: 0px;" align="center">CENTRO DE DIAGNOSTICO</h2>
  <p class="column">
  <!-- ***********   Tabla ID TIEMPO FECHA***********-->
   <p class="center">
       <table id="fancy_table" >
          <tr>
            <th colspan="4" style="text-align:center">Informacion de Control</th>
          </tr>
          <tr>
            <td style="text-align:center" ><span><b>Firmware:</b></span></td>
            <td colspan="3" style="text-align:center" ><span id="version">------</span></td>
        </tr>
        <tr>
            <td style="text-align:center" ><span><b>Tarjeta:</b></span></td>
            <td colspan="3" style="text-align:center"><span id="card">------</span></td>
        </tr>
        <tr>
            <td style="text-align:center; width:25%"><b>Msg ID</b></td>
            <td style="text-align:center; width:25%"><b>Modo de Operacion</b></td>
            <td style="text-align:center; width:25%"><b>Fecha</b></td>
            <td style="text-align:center; width:25%"><b>Hora</b></td>
        </tr>
        <tr>
              <td style="text-align:center" ><span id="msg_id">------</span></td>
              <td style="text-align:center" ><span id="operationMode">------</span></td>
              <td style="text-align:center" ><span id="date">------</span></td>
              <td style="text-align:center" ><span id="time">------</span></td>
        </tr>
    </table>
</p>

<!-- ***********   Tabla Sensores ***********-->
    <p class="center"><table id="fancy_table" >
  <tr>
    <th>Sensor</th>
    <th colspan="4" style="text-align:center">Estado</th>
  </tr>
<tr>
  	<td style="text-align:left"><b>Auto</b></td>
    <td style="text-align:center" colspan="4" id="auto"><i class="fas fa-power-off" style='font-size:24px;color:gray'></i></td>
</tr>

<tr>
  	<td style="text-align:left"><b>Deadman</b></td>
    <td style="text-align:center" colspan="2" id="deadman1"><i class="fas fa-power-off" style='font-size:24px;color:gray'></i></td>
    <td style="text-align:center" colspan="2" id="deadman2"><i class="fas fa-power-off" style='font-size:24px;color:gray'></i></td>
</tr>


<tr>
    <td style="text-align:left"><b>PIR</b></td>
    <td style="text-align:center" id="pir1"><i class="fas fa-user" style='font-size:24px;color:red'></i></td>
    <td style="text-align:center" id="pir2"><i class="fas fa-user" style='font-size:24px;color:red'></i></td>
    <td style="text-align:center" id="pir3"><i class="fas fa-user" style='font-size:24px;color:red'></i></td>
    <td style="text-align:center" id="pir4"><i class="fas fa-user" style='font-size:24px;color:red'></i></td>
  </tr>

<tr>
  	<td style="text-align:left"><b>Magneticos</b></td>
    <td style="text-align:center" colspan="2" id="mag1"><i class="fas fa-magnet" style='font-size:24px;color:red'></i></td>
    <td style="text-align:center" colspan="2" id="mag2"><i class="fas fa-magnet" style='font-size:24px;color:red'></i></td>
</tr>

</table>
      </p>


<!-- ***********   Tabla Lamparas ***********-->
   <p class="center"><table id="fancy_table" >
  <tr>
    <th colspan="6" style="text-align:center">Lamparas</th>
  </tr>

<tr>
  	<td style="text-align:center"><b>1</b></td>
    <td style="text-align:center"><b>2</b></td>
    <td style="text-align:center"><b>3</b></td>
    <td style="text-align:center"><b>4</b></td>
    <td style="text-align:center"><b>5</b></td>
    <td style="text-align:center"><b>6</b></td>
</tr>
<tr>
    <td style="text-align:center" id="lamp1" ><i class="fa fa-lightbulb" style='font-size:24px;color:gray'></i></td>
    <td style="text-align:center" id="lamp2"><i class="fa fa-lightbulb" style='font-size:24px;color:gray'></i></td>
    <td style="text-align:center" id="lamp3"><i class="fa fa-lightbulb" style='font-size:24px;color:gray'></i></td>
    <td style="text-align:center" id="lamp4"><i class="fa fa-lightbulb" style='font-size:24px;color:gray'></i></td>
    <td style="text-align:center" id="lamp5"><i class="fa fa-lightbulb" style='font-size:24px;color:gray'></i></td>
    <td style="text-align:center" id="lamp6"><i class="fa fa-lightbulb" style='font-size:24px;color:gray'></i></td>

</tr>
  </table>
</p>

 <!-- ***********   Tabla Indicadores ***********-->
   <p class="center"><table id="fancy_table" >
  <tr>
    <th colspan="3" style="text-align:center">Indicadores</th>
  </tr>

<tr>
  	<td style="text-align:center; width:33%"><b>Auto</b></td>
    <td style="text-align:center; width:33%"><b>Deadman</b></td>
    <td style="text-align:center; width:33%"><b>Buzzer</b></td>
</tr>
<tr>
    <td style="text-align:center" id="lampAuto"><i class="fa fa-lightbulb" style='font-size:24px;color:'></i></td>
    <td style="text-align:center" id="lampDeadman"><i class="fa fa-lightbulb" style='font-size:24px;color:purple'></i></td>
    <td style="text-align:center" id="buzzer"><i class="fa fa-volume-up" style='font-size:24px;color:green'></i></td>

</tr>
  </table>
</p>

</body>
</html>
