<!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>UVSA GROUP</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/favicon.png"
          rel="icon"
          type="image/png">
    <link href="../static/uvsa_style.css" rel="stylesheet" type="text/css">
</head>


<body>
<script src="/static/socket.io.js"></script>
<script src="/static/a076d05399.js"></script>

<div class="column image">
    <img align="center" class="logo" src="../static/UVSA_400.png"/>
</div>

<div class="topnav">
    <!-- <h2>HOME</h2>-->
    <a href="/" title="Home"><i class='fas fa-home' style='font-size:160%'></i></a>
    <a href="{{ url_for('logs')}}" title="Logs"><i class='fas fa-database' style='font-size:160%'></i></a>
    <a href="{{ url_for('ajustes')}}" title="Ajustes"><i class='fas fa-cogs' style='font-size:160%'></i></a>
    <a href="{{ url_for('diagnostico')}}" title="Diagnostico"><i class='fas fa-heartbeat'
                                                                 style='font-size:160%'></i></a>
    <a href="{{ url_for('ayuda')}}" title="Ayuda"><i class='fas fa-question' style='font-size:160%'></i></a>
    <a href="{{ url_for('acerca')}}" title="Acerca UVSA-Group"><i class='fas fa-info-circle' style='font-size:160%'></i></a>
</div>

<p class="column" style="padding:0px;">
    <!-- <h2 style="color:#100935">HOME</h2> -->

    <!-- ***********   Tabla ID TIEMPO FECHA***********-->
<p class="center">
    <table id="fancy_table">
        <tr>
            <th colspan="4" style="text-align:center">Temporizador</th>
        </tr>
        <tr>
            <td colspan="4" style="padding: 0px;">
                <canvas height="250" id="canvas" width="250">
            </td>
        </tr>
        <tr>
            <td colspan="3" id="operationModeText" style="text-align:center; font-weight:bold"> ---</td>
            <td colspan="1" id="operationMode" style="text-align:center"><i class='fas fa-hourglass-end'
                                                                            style='font-size:160%; color:grey'></i></td>
        </tr>
        <!-- <tr>
                 <td colspan="4" style="text-align:center; font-size:450%;color:#100935"><b><span id="tiempoRestante">---</span></b></td>
         </tr>-->
        <tr>
            <td colspan="4" style="text-align:center">
                <i class='fas fa-clock' style='font-size:160%; color:#100935; vertical-align:middle'></i>
                <span class="slidecontainer">
                     <input class="istyle" id="myTimeRange" max="120" min="1" type="range" value="5">
                </span>
                <b>
                     <span id="time_tag" style="vertical-align:middle; color:#100935">
                        --- min
                     </span>
                </b>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center">
                <a class="myButton" href="javascript:startButton()" id="main_button"><i aria-hidden="true"
                                                                                        class="fa fa-power-off"
                                                                                        style="font-size:200%; color:'white'"></i></a>
<p>
    <progress id="count_down" max="18" value="0"></progress>
</p>
</td>

</tr>
<tr>
    <td colspan="2"><b>Presets</b></td>
    <td colspan="1" style="text-align:center">
        <select name="Presets">
            <option value="1">---</option>
            <option value="1">1m</option>
            <option value="2">2m</option>
            <option value="3">3m</option>
            <option value="4">4m</option>
            <option value="5">5m</option>
        </select>
    </td>
    <td colspan="1" style="text-align:center; font-size:190%;"><a href="javascript:sendPreset" style="color:#100935;"><i
            class='fas fa-play-circle'></i></a></td>
</tr>
<tr>
    <td colspan="2" style="text-align:center; width:25%"><b>Fecha</b></td>
    <td colspan="2" style="text-align:center; width:25%"><b>Hora</b></td>
</tr>
<tr>
    <td colspan="2" style="text-align:center"><span id="date">------</span></td>
    <td colspan="2" style="text-align:center"><span id="time">------</span></td>
</tr>
</table>

<script src="/static/index_websocket.js"></script>
</body>
</html>